<div>
  @for (int i = 0; i < NumberOfStarts; i++)
        {
  <span class="oi oi-star"></span>
  }
</div>
<div>
  @for (int i = 0; i < NumberOfStarts; i++)
        {
  <span class="oi oi-star starChecked"></span>
  }
</div>
<div>
  @for (int i = 0; i < NumberOfStarts; i++)
        {
  <span class="oi oi-star starCheckedFill"></span>
  }
</div>


