<div>
  @for (int i = 0; i < NumberOfStarts; i++)
        {
            var i2 = i;
            if (i2 < NumberOfStartsSelected)
            {
  <span class="oi oi-star starChecked" @onclick="() => StarClicked(i2)"></span>
  }
  else
  {
  <span class="oi oi-star" @onclick="()=>StarClicked(i2)"></span>
  }
  }
  @* todo https://stackoverflow.com/questions/15700741/how-to-add-a-second-css-class-with-a-conditional-value-in-razor-mvc-4*@
</div>
