<div>
  @for (int i = 0; i < NumberOfStarts; i++)        
  {
    var i2 = i;
    <span class="oi oi-star @(@IsStarChecked(i2) ? "starChecked" : "") " @onclick="() => StarClicked(i2)"></span>
  }
</div>
